.admin-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;

  .sidebar-wrapper {
    flex: 1;
    height: 100%;
    background: $th-black5;
    display: flex;
    justify-content: flex-end;
  }

  .sidebar {
    width: 240px;
    height: 100%;
    padding: 0;
    overflow-y: auto;

    .logo {
      display: block;
      margin: 40px auto;
      width: 100px;
      height: 100px;
    }

    ul {
      list-style: none;
      border-radius: 4px 0 0 4px;
      overflow: hidden;
      margin-bottom: 20px;

      a {
        display: block;
        padding: 15px 25px;
        color: $th-black1;
        text-decoration: none;
        border-radius: 4px 0 0 4px;

        i.fa {
          margin-right: 5px;
        }

        &.selected {
          background: darken($color1, 2%);
          color: $th-black6;
          border-radius: 4px 0 0 0;
        }
      }

      ul {
        background: $thinkers-color;
        border-radius: 0 0 0 4px;
        margin: 0;

        a {
          border: 0;
          color: $th-black6;

          &.selected {
            color: $th-black6;
            background-color: $color4;
            border-bottom: 0;
            border-radius: 0;
          }
        }
      }
    }
  }

  .content-wrapper {
    flex: 2;
    overflow: auto;
  }

  .content {
    max-width: 700px;
    padding: 20px 15px;
    padding-top: 60px;
    padding-left: 25px;

    h2 {
      color: $th-black1;
      font-size: 24px;
      line-height: 28px;
      font-weight: 400;
      margin-bottom: 40px;
    }

    & > p {
      font-size: 14px;
      line-height: 18px;
      color: $th-black2;
      margin-bottom: 20px;

      strong {
        color: $th-black1;
        font-weight: 500;
      }
    }

    hr {
      margin: 20px 0;
      border: 0;
      background: transparent;
      border-bottom: 1px solid $color1;
    }
  }

  .simple_form {
    max-width: 400px;
    .label_input {
      label.select {
        width: 50%;
      }
      select {
        width: 50%;
        float: right;
      }
    }
  }

  @media screen and (max-width: 600px) {
    display: block;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .sidebar-wrapper, .content-wrapper {
      flex: 0 0 auto;
      height: auto;
      overflow: initial;
    }

    .sidebar {
      width: 100%;
      padding: 10px 0;
      height: auto;

      .logo {
        margin: 20px auto;
      }
    }

    .content {
      padding-top: 20px;
    }
  }
}

.filters {
  display: flex;
  margin-bottom: 20px;

  .filter-subset {
    flex: 0 0 auto;
    margin-right: 40px;

    ul {
      margin-top: 5px;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 5px;
      }
    }

    strong {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;
    }

    a {
      display: inline-block;
      color: rgba($color1, 0.7);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      border-bottom: 2px solid $color1;

      &:hover {
        color: $color1;
        border-bottom: 2px solid lighten($color1, 5%);
      }

      &.selected {
        color: $color4;
        border-bottom: 2px solid $color4;
      }
    }
  }
}

.report-accounts {
  display: flex;
  margin-bottom: 20px;
}

.report-accounts__item {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;

  & > strong {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $color2;
  }

  &:first-child {
    margin-right: 10px;
  }

  .account-card {
    flex: 1 1 auto;
  }
}

.report-status {
  display: flex;
  margin-bottom: 10px;

  .activity-stream {
    flex: 2 0 0;
    margin-right: 20px;
  }
}

.report-status__actions {
  flex: 0 0 auto;
}
