.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 20px;

  th, td {
    padding: 8px;
    line-height: 18px;
    vertical-align: top;
    text-align: left;
  }

  & > thead > tr > th {
    vertical-align: bottom;
    border-top: 0;
    font-weight: 500;
  }

  & > tbody > tr > th {
    font-weight: 500;
  }

  & > tbody > tr:nth-child(odd) > td, & > tbody > tr:nth-child(odd) > th {
    background: $thinkers-color;
    color: $th-black6;
  }
  & > tbody > tr:nth-child(even) {
    & > td, & > th {
      &, .table-action-link {
        color: $color1;
      }
    }
  }

  a {
    color: $th-black6;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  strong {
    font-weight: 500;
  }
}

samp {
  font-family: 'Roboto Mono', monospace;
}

a.table-action-link {
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  padding: 0 10px;
  color: $th-black6;
  font-weight: 500;

  i.fa {
    font-weight: 400;
    margin-right: 5px;
  }
}
