$color1: #282c37 !default; // darkest
$color2: #d9e1e8 !default; // lightest
$color3: #9baec8 !default; // lighter
$color4: #2b90d9 !default; // vibrant
$color5: #ffffff !default; // white
$color6: #df405a !default; // error red
$color7: #79bd9a !default; // succ green
$color8: #000000 !default; // black

$thinkers-color: #78cfda !default;
$thinkers-ac: #da78cf !default;
$thinkers-sc: #cfda78 !default;
$th-black1: #333 !default;
$th-black2: #999 !default;
$th-black3: #ccc !default;
$th-black4: #ddd !default;
$th-black5: #f5f8fa !default;
$th-black6: #fff !default;
